{% extends "home/base.html" %}

{% block title %}Contact Page{% endblock %}

{% block content %}
<h1>Contact Me</h1>

{% if message_sent %}
    <p style="color: green;">Thank you! Your message has been sent successfully.</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label><br>
      <input type="text" id="name" name="name" class="form-controll" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea id="message" name="message" rows="4" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}
